%ul
- @project.errors.full_messages.each do |msg|
  %li=  msg

= form_for @project, remote: true do |f|
  %p
    =  f.label :name 
    =  f.text_field :name
  %p
    =  f.label :path 
    =  f.text_field :path
  %p
    = f.submit
