.panel.panel-default
  .panel-heading
    %h4.panel-title
    %a{"data-toggle" => "collapse", "data-parent" => "#accordion",  :href => "#collapse-#{project.id}"}
      = "#{project.name} #{project.id}"
    = link_to "{edit}", edit_project_path(project), :remote => true
    = link_to '{delete}', project, :method => :delete, :data => { confirm: 'Are you sure?' }, :remote => true
    = link_to '{new statge}', new_project_stage_path(project)
  .panel-collapse.collapse{:id => "collapse-#{project.id}"}
    .panel-body
      / = "#{project.path}" 
      = render :partial => 'stages/index', :locals => {project: project}

